body{
    background-image: url(lottery-background2.jpg);
    background-size: cover;
    background-repeat: repeat-y;
    background-color: whitesmoke;
}

/* .overlay{
    background-color: rgba(0, 0, 0,0.5);
    transition: linear, 400ms;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
} */

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none;
    z-index: 500;
}

h1{
    font-weight: 900;
}

.lead {
    font-weight: 400;
    background-color:ivory;
    padding: 1em;
    border-radius: 10px;
}